# Git
.git
.gitignore

# Environments - We DO NOT ignore the backend/.env file
.env.*
backend/venv/
backend/.venv/
frontend_v2/node_modules/

# Python cache
backend/__pycache__/
*.pyc
*.pyo
*.pyd

# Frontend build artifacts - these are not needed in the build context
# since you are manually copying them to backend/app/static
frontend_v2/dist/
frontend_v2/build/

# Test files
backend/tests/
frontend_v2/tests/

# Other
.DS_Store