# Ignore Python environment and package files in backend
/backend/__pycache__/
/backend/env/
/backend/venv/
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd
/backend/.mypy_cache/
/backend/.pytest_cache/
# /backend/library/

# Ignore Node.js dependencies in frontend
/frontend/node_modules/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*


# Ignore all compiled Python files, including those with Python version suffixes
*.py[cod]
__pycache__/
**/.env
**/.env.*
