.git
.gitignore
.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
*.sqlite3
chroma_db/*/
chroma_db_ar/*/
chroma_db_en/*/
tests/
